@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.relative.z-10 {
  position: relative;
  z-index: 10;
}

